<a href="https://colab.research.google.com/github/KhushbooSingh17/18CSE140/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Indian_food dataset comma separated value
path = "https://raw.githubusercontent.com/KhushbooSingh17/18CSE140/main/indian_food.csv"

In [7]:
import pandas as pd

In [8]:
data = pd.read_csv(path)

In [9]:
data

               name  ...      region
0        Balu shahi  ...        East
1            Boondi  ...        West
2    Gajar ka halwa  ...       North
3            Ghevar  ...        West
4       Gulab jamun  ...        East
..              ...  ...         ...
250       Til Pitha  ...  North East
251         Bebinca  ...        West
252          Shufta  ...       North
253       Mawa Bati  ...     Central
254          Pinaca  ...        West

[255 rows x 9 columns]

In [11]:
data = pd.read_csv("https://raw.githubusercontent.com/KhushbooSingh17/18CSE140/main/indian_food.csv")

In [12]:
data

               name  ...      region
0        Balu shahi  ...        East
1            Boondi  ...        West
2    Gajar ka halwa  ...       North
3            Ghevar  ...        West
4       Gulab jamun  ...        East
..              ...  ...         ...
250       Til Pitha  ...  North East
251         Bebinca  ...        West
252          Shufta  ...       North
253       Mawa Bati  ...     Central
254          Pinaca  ...        West

[255 rows x 9 columns]

In [13]:
type(data)

pandas.core.frame.DataFrame

In [14]:
data.shape

(255, 9)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            255 non-null    object
 1   ingredients     255 non-null    object
 2   diet            255 non-null    object
 3   prep_time       255 non-null    int64
 4   cook_time       255 non-null    int64
 5   flavor_profile  255 non-null    object
 6   course          255 non-null    object
 7   state           255 non-null    object
 8   region          254 non-null    object
dtypes: int64(2), object(7)
memory usage: 18.1+ KB

In [16]:
data.index

RangeIndex(start=0, stop=255, step=1)

In [17]:
data.columns

Index(['name', 'ingredients', 'diet', 'prep_time', 'cook_time',
       'flavor_profile', 'course', 'state', 'region'],
      dtype='object')

In [18]:
data.head()

             name  ... region
0      Balu shahi  ...   East
1          Boondi  ...   West
2  Gajar ka halwa  ...  North
3          Ghevar  ...   West
4     Gulab jamun  ...   East

[5 rows x 9 columns]

In [19]:
data.tail()

          name  ...      region
250  Til Pitha  ...  North East
251    Bebinca  ...        West
252     Shufta  ...       North
253  Mawa Bati  ...     Central
254     Pinaca  ...        West

[5 rows x 9 columns]

In [20]:
data.head(3)

             name  ... region
0      Balu shahi  ...   East
1          Boondi  ...   West
2  Gajar ka halwa  ...  North

[3 rows x 9 columns]

In [23]:
data[['ingredients',"diet"]].head(10)

                                         ingredients        diet
0                    Maida flour, yogurt, oil, sugar  vegetarian
1                            Gram flour, ghee, sugar  vegetarian
2       Carrots, milk, sugar, ghee, cashews, raisins  vegetarian
3  Flour, ghee, kewra, milk, clarified butter, su...  vegetarian
4  Milk powder, plain flour, baking powder, ghee,...  vegetarian
5                          Sugar syrup, lentil flour  vegetarian
6  Maida, corn flour, baking soda, vinegar, curd,...  vegetarian
7                     Cashews, ghee, cardamom, sugar  vegetarian
8                        Milk, cottage cheese, sugar  vegetarian
9                    Milk, rice, sugar, dried fruits  vegetarian

In [24]:
### Data Wrangling (Working With Null Values)
data.isnull().sum()

name              0
ingredients       0
diet              0
prep_time         0
cook_time         0
flavor_profile    0
course            0
state             0
region            1
dtype: int64

In [25]:
data.dropna(inplace=True) # removed the null values 1st method remove rows when large data we having
data.isnull().sum()

name              0
ingredients       0
diet              0
prep_time         0
cook_time         0
flavor_profile    0
course            0
state             0
region            0
dtype: int64

In [26]:
data.shape

(254, 9)

In [27]:
data.head(10)

             name  ... region
0      Balu shahi  ...   East
1          Boondi  ...   West
2  Gajar ka halwa  ...  North
3          Ghevar  ...   West
4     Gulab jamun  ...   East
5          Imarti  ...   East
6          Jalebi  ...  North
7      Kaju katli  ...     -1
8        Kalakand  ...   East
9           Kheer  ...     -1

[10 rows x 9 columns]

In [29]:
#2nd method handling missing values
data['prep_time'].mean()

31.188976377952756

In [30]:
data['prep_time'].head()

0    45
1    80
2    15
3    15
4    15
Name: prep_time, dtype: int64

In [31]:
import numpy as np

In [32]:
data['prep_time'].replace(np.NaN,data['prep_time'].mean()).head()

0    45
1    80
2    15
3    15
4    15
Name: prep_time, dtype: int64